<div class="list-wrapper">
  <ng-container *ngIf="!products?.length">
    <div class="empty-list">
      <h1 id="empty-list__text">{{ emptyProductListText }}</h1>
    </div>
  </ng-container>

  <ng-container *ngIf="products?.length">
    <ng-container *ngFor="let product of products">
      <div class="product">
        <app-product-wrapper
          [product]="product"
          [display]="display"
          (action)="onAction($event)"
        ></app-product-wrapper>
      </div>
    </ng-container>
  </ng-container>
</div>
