<mat-card class="bottom-nav">
  <mat-card
    (click)="onMenuItemClick(menuItems.MAIN_PAGE)"
    [ngClass]="{
      selected: this.currentlySelectedMenuItem === menuItems.MAIN_PAGE
    }"
    class="bottom-nav__item"
  >
    <mat-icon>home</mat-icon>
    <span>Main page</span>
  </mat-card>
  <mat-card
    (click)="onMenuItemClick(menuItems.DIARY)"
    [ngClass]="{ selected: this.currentlySelectedMenuItem === menuItems.DIARY }"
    class="bottom-nav__item"
  >
    <mat-icon>food_bank</mat-icon>
    <span>Diary</span>
  </mat-card>
  <mat-card
    (click)="onMenuItemClick(menuItems.REPORTS)"
    [ngClass]="{
      selected: this.currentlySelectedMenuItem === menuItems.REPORTS
    }"
    class="bottom-nav__item"
  >
    <mat-icon>insert_chart</mat-icon>
    <span>Reports</span>
  </mat-card>
  <mat-card
    (click)="onMenuItemClick(menuItems.FRIENDS)"
    [ngClass]="{
      selected: this.currentlySelectedMenuItem === menuItems.FRIENDS
    }"
    class="bottom-nav__item"
  >
    <mat-icon>group</mat-icon>
    <span>Friends</span>
  </mat-card>
</mat-card>
