<div class="main-wrapper">
  <form class="example-form">
    <table class="example-full-width">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Username</mat-label>
            <input matInput />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input matInput type="password" />
          </mat-form-field>
        </td>
      </tr>
      <tr class="example-full-width">
        <td colspan="2" class="example-full-width">
          <mat-form-field class="example-full-width">
            <mat-label>Repeat password</mat-label>
            <input matInput type="password" />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput type="email" />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Phone number</mat-label>
            <input matInput type="number" />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>First name</mat-label>
            <input matInput />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Last name</mat-label>
            <input matInput />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="example-full-width">
          <mat-form-field appearance="fill">
            <mat-label>Birth date</mat-label>
            <input matInput [matDatepicker]="picker" />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </td>
      </tr>

      <tr>
        <td>
          <button (click)="navigateToMainPage()" mat-stroked-button class="btn">
            Return to main page
          </button>
        </td>
        <td>
          <button mat-stroked-button class="btn">Register</button>
        </td>
      </tr>
    </table>
  </form>
</div>
