<div class="wrapper">
  <ng-container *ngIf="this.listType === this.type.ALL_USERS">
    <ng-container *ngFor="let user of this.users">
      <ng-container [ngSwitch]="this.generateListType(user)">
        <div class="card">
          <app-user-card
            *ngSwitchCase="this.type.FRIENDS"
            (actions)="this.onAction($event)"
            [user]="user"
            [text]="this.userFriendText"
            [delete]="this.enable"
          ></app-user-card>
        </div>

        <div class="card">
          <app-user-card
            *ngSwitchCase="this.type.FRIEND_REQUEST_SENT"
            (actions)="this.onAction($event)"
            [user]="user"
            [text]="this.userFriendSentText"
            [discard]="this.enable"
          ></app-user-card>
        </div>

        <div class="card">
          <app-user-card
            *ngSwitchCase="this.type.FRIEND_REQUEST_RECEIVED"
            (actions)="this.onAction($event)"
            [user]="user"
            [text]="this.userFriendReceivedText"
            [accept]="this.enable"
            [discard]="this.enable"
          ></app-user-card>
        </div>

        <div class="card">
          <app-user-card
            *ngSwitchCase="this.type.ALL_USERS"
            (actions)="this.onAction($event)"
            [user]="user"
            [text]="this.userAddFriendText"
            [add]="this.enable"
          ></app-user-card>
        </div>

        <div class="card">
          <app-user-card
            *ngSwitchDefault
            (actions)="this.onAction($event)"
            [user]="user"
            [add]="this.enable"
          ></app-user-card>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="this.listType === this.type.FRIENDS">
    <ng-container *ngFor="let friend of this.getFriends()">
      <div class="card">
        <app-user-card
          (actions)="this.onAction($event)"
          [user]="friend.friend"
          [text]="this.userFriendText"
          [delete]="this.enable"
        ></app-user-card>
      </div>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="this.listType === this.type.FRIEND_REQUEST_SENT">
    <ng-container *ngFor="let friend of this.getSentFriendRequest()">
      <div class="card">
        <app-user-card
          (actions)="this.onAction($event)"
          [user]="friend.friend"
          [text]="this.userFriendSentText"
          [discard]="this.enable"
        ></app-user-card>
      </div>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="this.listType === this.type.FRIEND_REQUEST_RECEIVED">
    <ng-container *ngFor="let friend of this.getReceivedFriendRequest()">
      <div class="card">
        <app-user-card
          (actions)="this.onAction($event)"
          [user]="friend.friend"
          [text]="this.userFriendReceivedText"
          [accept]="this.enable"
          [discard]="this.enable"
        ></app-user-card>
      </div>
    </ng-container>
  </ng-container>
</div>
