<div class="container">
  <header class="header">
    <mat-icon>info</mat-icon>
    <h1 mat-dialog-title>Dialog with elements</h1>
  </header>
  <div mat-dialog-content class="content">
    <p>This dialog showcases the title, close, content and actions elements.</p>
    <p>This dialog showcases the title, close, content and actions elements.</p>
    <p>This dialog showcases the title, close, content and actions elements.</p>
    <p>This dialog showcases the title, close, content and actions elements.</p>
    <p>This dialog showcases the title, close, content and actions elements.</p>
    <p>This dialog showcases the title, close, content and actions elements.</p>
  </div>
  <div mat-dialog-actions class="footer">
    <div class="left-buttons">
      <button mat-stroked-button mat-dialog-close>Close</button>
      <button mat-stroked-button mat-dialog-close>Close</button>
    </div>
    <div class="right-buttons">
      <button mat-stroked-button mat-dialog-close>Close</button>
      <button mat-stroked-button mat-dialog-close>Close</button>
    </div>
  </div>
</div>
