<div class="main-wrapper">
  <form [formGroup]="loginForm" class="example-form">
    <table class="example-full-width">
      <tr>
        <td colspan="2">
          <mat-form-field (key.enter)="login()" class="example-full-width">
            <mat-label>Username</mat-label>
            <input
              formControlName="username"
              matInput
              [errorStateMatcher]="simpleErrorStateMatcher"
            />
            <mat-error
              *ngIf="
                usernameFormControl.dirty &&
                (usernameFormControl.hasError('required') ||
                  usernameFormControl.hasError('minlength') ||
                  usernameFormControl.hasError('maxlength'))
              "
            >
              Please enter a valid username. From 3 - 20 characters.
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <mat-form-field (key.enter)="login()" class="example-full-width">
            <mat-label>Password</mat-label>
            <input
              formControlName="password"
              matInput
              type="password"
              [errorStateMatcher]="simpleErrorStateMatcher"
            />
            <mat-error
              *ngIf="
                passwordFormControl.dirty &&
                (passwordFormControl.hasError('required') ||
                  passwordFormControl.hasError('minlength') ||
                  passwordFormControl.hasError('maxlength'))
              "
            >
              Please enter a valid password. From 6 - 30 characters.
            </mat-error>
          </mat-form-field>
        </td>
      </tr>

      <tr>
        <td>
          <button (click)="login()" mat-stroked-button class="btn">
            Login
          </button>
        </td>
        <td>
          <button (click)="navigateToMainPage()" mat-stroked-button class="btn">
            Return to main page
          </button>
        </td>
      </tr>
    </table>
  </form>
</div>
