<div class="main-wrapper">
  <form [formGroup]="updateCredentialsForm" class="example-form">
    <table class="example-full-width">
      <tr>
        <td colspan="2">
          <mat-form-field
            (key.enter)="updateCredentials()"
            class="example-full-width"
          >
            <mat-label>Username</mat-label>
            <input
              formControlName="username"
              matInput
              [errorStateMatcher]="simpleErrorStateMatcher"
            />
            <mat-error
              *ngIf="
                usernameFormControl.dirty &&
                (usernameFormControl.hasError('required') ||
                  usernameFormControl.hasError('minlength') ||
                  usernameFormControl.hasError('maxlength'))
              "
            >
              Please enter a valid username. From 3 - 20 characters.
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field
            (key.enter)="updateCredentials()"
            class="example-full-width"
          >
            <mat-label>Email</mat-label>
            <input
              formControlName="email"
              matInput
              type="email"
              [errorStateMatcher]="simpleErrorStateMatcher"
            />
            <mat-error
              *ngIf="
                emailFormControl.dirty &&
                (emailFormControl.hasError('required') ||
                  emailFormControl.hasError('email'))
              "
            >
              Please enter a valid email.
            </mat-error>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field
            (key.enter)="updateCredentials()"
            class="example-full-width"
          >
            <mat-label>Phone number</mat-label>
            <input
              formControlName="phoneNumber"
              matInput
              type="number"
              [errorStateMatcher]="simpleErrorStateMatcher"
            />
            <mat-error
              *ngIf="
                phoneNumberFormControl.dirty &&
                (phoneNumberFormControl.hasError('required') ||
                  phoneNumberFormControl.hasError('pattern'))
              "
            >
              Please enter a valid phone number. In the format: 123-456-789.
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field
            (key.enter)="updateCredentials()"
            class="example-full-width"
          >
            <mat-label>First name</mat-label>
            <input
              formControlName="firstName"
              matInput
              [errorStateMatcher]="simpleErrorStateMatcher"
            />
            <mat-error
              *ngIf="
                firstNameFormControl.dirty &&
                (firstNameFormControl.hasError('required') ||
                  firstNameFormControl.hasError('minlength') ||
                  firstNameFormControl.hasError('maxlength'))
              "
            >
              Please enter a valid first name. From 3 - 20 characters.
            </mat-error>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field
            (key.enter)="updateCredentials()"
            class="example-full-width"
          >
            <mat-label>Last name</mat-label>
            <input
              formControlName="lastName"
              matInput
              [errorStateMatcher]="simpleErrorStateMatcher"
            />
            <mat-error
              *ngIf="
                lastNameFormControl.dirty &&
                (lastNameFormControl.hasError('required') ||
                  lastNameFormControl.hasError('minlength') ||
                  lastNameFormControl.hasError('maxlength'))
              "
            >
              Please enter a valid last name. From 3 - 20 characters.
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="example-full-width">
          <mat-form-field (key.enter)="updateCredentials()" appearance="fill">
            <mat-label>Birth date</mat-label>
            <input
              [min]="minDate"
              formControlName="birthDate"
              matInput
              [matDatepicker]="picker"
              [errorStateMatcher]="simpleErrorStateMatcher"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error
              *ngIf="
                birthDateFormControl.dirty &&
                birthDateFormControl.hasError('required')
              "
            >
              Please enter a valid date.
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field
            (key.enter)="updateCredentials()"
            class="example-full-width"
          >
            <mat-label>Age</mat-label>
            <input
              formControlName="age"
              matInput
              type="number"
              [errorStateMatcher]="simpleErrorStateMatcher"
            />
            <mat-error
              *ngIf="
                ageFormControl.dirty &&
                (ageFormControl.hasError('required') ||
                  ageFormControl.hasError('min') ||
                  ageFormControl.hasError('max'))
              "
            >
              Please enter a valid age(1-100).
            </mat-error>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field
            (key.enter)="updateCredentials()"
            class="example-full-width"
          >
            <mat-label>Height</mat-label>
            <input
              formControlName="height"
              matInput
              type="number"
              [errorStateMatcher]="simpleErrorStateMatcher"
            />
            <mat-error
              *ngIf="
                heightFormControl.dirty &&
                (heightFormControl.hasError('required') ||
                  heightFormControl.hasError('min') ||
                  heightFormControl.hasError('max'))
              "
            >
              Please enter a valid height(50-250).
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="example-full-width">
          <mat-form-field
            (key.enter)="updateCredentials()"
            class="example-full-width"
          >
            <mat-label>Weight</mat-label>
            <input
              formControlName="weight"
              matInput
              type="number"
              [errorStateMatcher]="simpleErrorStateMatcher"
            />
            <mat-error
              *ngIf="
                weightFormControl.dirty &&
                (weightFormControl.hasError('required') ||
                  weightFormControl.hasError('min') ||
                  weightFormControl.hasError('max'))
              "
            >
              Please enter a valid weight(1-250).
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="example-full-width">
          <mat-form-field
            (key.enter)="updateCredentials()"
            class="example-full-width"
          >
            <mat-label>Sex</mat-label>
            <mat-select
              [errorStateMatcher]="simpleErrorStateMatcher"
              formControlName="sex"
              required
            >
              <mat-option>--</mat-option>
              <mat-option *ngFor="let s of sex" [value]="s.value">
                {{ s.viewValue }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="
                sexFormControl.dirty && sexFormControl.hasError('required')
              "
            >
              Please choose your sex.
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <div
      [matTooltip]="toolTipContent"
      [matTooltipPosition]="toolTipPosition"
      [matTooltipHideDelay]="toolTipDelay"
      [matTooltipDisabled]="!disabled"
    >
      <button
        [disabled]="disabled || !this.isFormValid()"
        (click)="updateCredentials()"
        mat-stroked-button
        class="btn"
      >
        Apply changes
      </button>
    </div>
  </form>
</div>
