<div class="main-wrapper">
  <div class="main-page">
    <div class="header">
      <h1 class="header__title">Let's start</h1>
      <h1 class="header__title">counting!</h1>
    </div>
    <div class="nav-options">
      <button
        (click)="navigate(destiny.LOGIN)"
        class="btn btn--primary btn--login"
        mat-stroked-button
      >
        Login
      </button>
      <button
        (click)="navigate(destiny.REGISTER)"
        class="btn btn--secondary btn--register"
        mat-stroked-button
      >
        Register
      </button>
    </div>
  </div>
</div>
