<div class="main-wrapper">
  <form [formGroup]="changePasswordForm" class="example-form">
    <table class="example-full-width">
      <tr class="example-full-width">
        <td colspan="2" class="example-full-width">
          <mat-form-field
            (key.enter)="updateCredentials()"
            class="example-full-width"
          >
            <mat-label>New password</mat-label>
            <input
              formControlName="password"
              matInput
              type="password"
              [errorStateMatcher]="simpleErrorStateMatcher"
            />
            <mat-error
              *ngIf="
                passwordFormControl.dirty &&
                (passwordFormControl.hasError('required') ||
                  passwordFormControl.hasError('minlength') ||
                  passwordFormControl.hasError('maxlength'))
              "
            >
              Please enter a valid password. From 6 - 30 characters.
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <mat-form-field
            (key.enter)="updateCredentials()"
            class="example-full-width"
          >
            <mat-label>New password confirmation</mat-label>
            <input
              formControlName="passwordConfirmation"
              matInput
              type="password"
              [errorStateMatcher]="simpleErrorStateMatcher"
            />
            <mat-error
              *ngIf="
                passwordConfirmationFormControl.dirty &&
                passwordConfirmationFormControl.value !==
                  passwordFormControl.value
              "
            >
              Passwords do not match.
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <div>
      <button (click)="updateCredentials()" mat-stroked-button class="btn">
        Change password
      </button>
    </div>
  </form>
</div>
