/* You can add global styles to this file, and also import other style files */
/* https://colorhunt.co/palette/167893 Color Palette 167893*/

/*
360×640
768×1024
1366×768
1920×1080
*/

:root {
  --primary-color: #303030;
  /* --primary-color: #333334; */
  --primary-color-lighter: #5b5b5b;
  --primary-color-lightest: #7d7c7c;

  /* --secondary-color: #9a25b1; */
  --secondary-color: #7b1fa2;
  --secondary-color-darker: #702d7c;
  --secondary-color-darkest: #503f57;

  --white-color: #ffffff;
  --white-color-darker: #cfccc9;
  --black-color: #070505;

  --green-color: #328855;
  --red-color: #800808;
  --yellow-color: #c0ad00;
}

html,
body {
  background-color: var(--primary-color);
  color: var(--primary-color-lightest);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 360px !important;
  min-height: 640px !important;
  width: auto !important;
  width: 100% !important;
  height: 100% !important;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-dialog-container.mat-dialog-container {
  padding: 0;
  margin: 0;
}
